//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 16 08:00:51 2026
//! **************************************************************************

SCHEMATIC START;
COMP "RESET_IN_P" LOCATE = SITE "P8" LEVEL 1;
COMP "DATA_OUT_P" LOCATE = SITE "R11" LEVEL 1;
COMP "calin" LOCATE = SITE "C10" LEVEL 1;
COMP "P1S<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "P1S<2>" LOCATE = SITE "A9" LEVEL 1;
COMP "P1S<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "P1S<4>" LOCATE = SITE "A7" LEVEL 1;
COMP "P1S<5>" LOCATE = SITE "A6" LEVEL 1;
COMP "P1S<6>" LOCATE = SITE "A5" LEVEL 1;
COMP "P1S<7>" LOCATE = SITE "C3" LEVEL 1;
COMP "P1S<8>" LOCATE = SITE "D3" LEVEL 1;
COMP "P2S<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "P2S<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "P2S<3>" LOCATE = SITE "A2" LEVEL 1;
COMP "P2S<4>" LOCATE = SITE "B1" LEVEL 1;
COMP "P2S<5>" LOCATE = SITE "C1" LEVEL 1;
COMP "P2S<6>" LOCATE = SITE "E3" LEVEL 1;
COMP "P2S<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "P2S<8>" LOCATE = SITE "G3" LEVEL 1;
COMP "P3S<1>" LOCATE = SITE "H3" LEVEL 1;
COMP "P3S<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "P3S<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "P3S<4>" LOCATE = SITE "L3" LEVEL 1;
COMP "P3S<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "P3S<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "P3S<7>" LOCATE = SITE "F1" LEVEL 1;
COMP "P3S<8>" LOCATE = SITE "G1" LEVEL 1;
COMP "P4S<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "P4S<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "P4S<3>" LOCATE = SITE "F2" LEVEL 1;
COMP "P4S<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "P4S<5>" LOCATE = SITE "H1" LEVEL 1;
COMP "P4S<6>" LOCATE = SITE "J1" LEVEL 1;
COMP "P4S<7>" LOCATE = SITE "K1" LEVEL 1;
COMP "P4S<8>" LOCATE = SITE "L1" LEVEL 1;
COMP "P5S<1>" LOCATE = SITE "K2" LEVEL 1;
COMP "P5S<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "P5S<3>" LOCATE = SITE "P2" LEVEL 1;
COMP "P5S<4>" LOCATE = SITE "R2" LEVEL 1;
COMP "P5S<5>" LOCATE = SITE "M1" LEVEL 1;
COMP "P5S<6>" LOCATE = SITE "N1" LEVEL 1;
COMP "P5S<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "P5S<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "P6S<1>" LOCATE = SITE "C16" LEVEL 1;
COMP "P6S<2>" LOCATE = SITE "B16" LEVEL 1;
COMP "P6S<3>" LOCATE = SITE "A14" LEVEL 1;
COMP "P6S<4>" LOCATE = SITE "A13" LEVEL 1;
COMP "P6S<5>" LOCATE = SITE "B5" LEVEL 1;
COMP "P6S<6>" LOCATE = SITE "B3" LEVEL 1;
COMP "P6S<7>" LOCATE = SITE "A12" LEVEL 1;
COMP "P6S<8>" LOCATE = SITE "A11" LEVEL 1;
COMP "P7S<1>" LOCATE = SITE "G16" LEVEL 1;
COMP "P7S<2>" LOCATE = SITE "F16" LEVEL 1;
COMP "P7S<3>" LOCATE = SITE "E16" LEVEL 1;
COMP "P7S<4>" LOCATE = SITE "D16" LEVEL 1;
COMP "P7S<5>" LOCATE = SITE "B12" LEVEL 1;
COMP "P7S<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "P7S<7>" LOCATE = SITE "B8" LEVEL 1;
COMP "P7S<8>" LOCATE = SITE "B6" LEVEL 1;
COMP "P8S<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "P8S<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "P8S<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "P8S<4>" LOCATE = SITE "H16" LEVEL 1;
COMP "P8S<5>" LOCATE = SITE "E15" LEVEL 1;
COMP "P8S<6>" LOCATE = SITE "C15" LEVEL 1;
COMP "P8S<7>" LOCATE = SITE "B15" LEVEL 1;
COMP "P8S<8>" LOCATE = SITE "B14" LEVEL 1;
COMP "P9S<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "P9S<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "P9S<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "P9S<4>" LOCATE = SITE "M16" LEVEL 1;
COMP "P9S<5>" LOCATE = SITE "M15" LEVEL 1;
COMP "P9S<6>" LOCATE = SITE "K15" LEVEL 1;
COMP "P9S<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "P9S<8>" LOCATE = SITE "F15" LEVEL 1;
COMP "calout" LOCATE = SITE "C9" LEVEL 1;
COMP "CLK_IN_P" LOCATE = SITE "M9" LEVEL 1;
COMP "P10S<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "P10S<2>" LOCATE = SITE "T13" LEVEL 1;
COMP "P10S<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "P10S<4>" LOCATE = SITE "T15" LEVEL 1;
COMP "P10S<5>" LOCATE = SITE "R12" LEVEL 1;
COMP "P10S<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "P10S<7>" LOCATE = SITE "R15" LEVEL 1;
COMP "P10S<8>" LOCATE = SITE "P15" LEVEL 1;
COMP "FB_OUT_N" LOCATE = SITE "T9" LEVEL 1;
COMP "FB_OUT_P" LOCATE = SITE "R9" LEVEL 1;
PIN TDC_datapack/BUFG_clk62M5_pin<1> = BEL "TDC_datapack/BUFG_clk62M5" PINNAME
        O;
PIN "TDC_datapack/BUFG_clk62M5_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "TDC_datapack/PAD[9].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit270<0>" LOCATE = SITE "SLICE_X0Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit90<0>" LOCATE = SITE "SLICE_X0Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit180<0>" LOCATE = SITE "SLICE_X1Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit0<0>" LOCATE = SITE "SLICE_X1Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit270<1>" LOCATE = SITE "SLICE_X2Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit90<1>" LOCATE = SITE "SLICE_X2Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit180<1>" LOCATE = SITE "SLICE_X3Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit0<1>" LOCATE = SITE "SLICE_X3Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit270<2>" LOCATE = SITE "SLICE_X4Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit90<2>" LOCATE = SITE "SLICE_X4Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit180<2>" LOCATE = SITE "SLICE_X5Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit0<2>" LOCATE = SITE "SLICE_X5Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit270<3>" LOCATE = SITE "SLICE_X6Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit90<3>" LOCATE = SITE "SLICE_X6Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit180<3>" LOCATE = SITE "SLICE_X7Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit0<3>" LOCATE = SITE "SLICE_X7Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit270<4>" LOCATE = SITE "SLICE_X8Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit90<4>" LOCATE = SITE "SLICE_X8Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y5" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y10" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y14" LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y15" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y21" LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y22" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y27" LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y28" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y33" LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y34" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y37" LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y38" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y45" LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y46" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y52" LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y53" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit180<4>" LOCATE = SITE "SLICE_X9Y57" LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/hit0<4>" LOCATE = SITE "SLICE_X9Y58" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y4" LEVEL
        1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y9" LEVEL
        1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data270<0>" LOCATE = SITE "SLICE_X10Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline270<0>" LOCATE = SITE "SLICE_X10Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data90<0>" LOCATE = SITE "SLICE_X11Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline90<0>" LOCATE = SITE "SLICE_X11Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y4" LEVEL
        1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y9" LEVEL
        1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data270<1>" LOCATE = SITE "SLICE_X12Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline270<1>" LOCATE = SITE "SLICE_X12Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data90<1>" LOCATE = SITE "SLICE_X13Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline90<1>" LOCATE = SITE "SLICE_X13Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y4" LEVEL
        1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y9" LEVEL
        1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data270<2>" LOCATE = SITE "SLICE_X14Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline270<2>" LOCATE = SITE "SLICE_X14Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data90<2>" LOCATE = SITE "SLICE_X15Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline90<2>" LOCATE = SITE "SLICE_X15Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y4" LEVEL
        1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y9" LEVEL
        1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data270<3>" LOCATE = SITE "SLICE_X16Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline270<3>" LOCATE = SITE "SLICE_X16Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data90<3>" LOCATE = SITE "SLICE_X17Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline90<3>" LOCATE = SITE "SLICE_X17Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y4" LEVEL
        1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y9" LEVEL
        1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data270<4>" LOCATE = SITE "SLICE_X18Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline270<4>" LOCATE = SITE "SLICE_X18Y58"
        LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y4" LEVEL 1;
COMP "TDC_datapack/PAD[9].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y5"
        LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y9" LEVEL 1;
COMP "TDC_datapack/PAD[8].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y10"
        LEVEL 1;
COMP "TDC_datapack/PAD[7].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y14" LEVEL
        1;
COMP "TDC_datapack/PAD[7].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y15"
        LEVEL 1;
COMP "TDC_datapack/PAD[6].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y21" LEVEL
        1;
COMP "TDC_datapack/PAD[6].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y22"
        LEVEL 1;
COMP "TDC_datapack/PAD[5].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y27" LEVEL
        1;
COMP "TDC_datapack/PAD[5].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y28"
        LEVEL 1;
COMP "TDC_datapack/PAD[4].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y33" LEVEL
        1;
COMP "TDC_datapack/PAD[4].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y34"
        LEVEL 1;
COMP "TDC_datapack/PAD[3].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y37" LEVEL
        1;
COMP "TDC_datapack/PAD[3].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y38"
        LEVEL 1;
COMP "TDC_datapack/PAD[2].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y45" LEVEL
        1;
COMP "TDC_datapack/PAD[2].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y46"
        LEVEL 1;
COMP "TDC_datapack/PAD[1].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y52" LEVEL
        1;
COMP "TDC_datapack/PAD[1].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y53"
        LEVEL 1;
COMP "TDC_datapack/PAD[0].PTDC/data90<4>" LOCATE = SITE "SLICE_X19Y57" LEVEL
        1;
COMP "TDC_datapack/PAD[0].PTDC/pipeline90<4>" LOCATE = SITE "SLICE_X19Y58"
        LEVEL 1;
TIMEGRP TDC_datapack/clk250_270 = BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin270";
TIMEGRP TDC_datapack/clk250_180 = BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin180";
TIMEGRP TDC_datapack/clk250_90 = BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin90";
TIMEGRP TDC_datapack/clk250_0 = BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline270" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline180" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline90" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline0" BEL
        "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin0";
TS_TDC_datapack_clk250_0 = PERIOD TIMEGRP "TDC_datapack/clk250_0" 4 ns HIGH
        50%;
TS_TDC_datapack_clk250_90 = PERIOD TIMEGRP "TDC_datapack/clk250_90" 4 ns HIGH
        50%;
TS_TDC_datapack_clk250_180 = PERIOD TIMEGRP "TDC_datapack/clk250_180" 4 ns
        HIGH 50%;
TS_TDC_datapack_clk250_270 = PERIOD TIMEGRP "TDC_datapack/clk250_270" 4 ns
        HIGH 50%;
PATH TS_TIG1_path = FROM TIMEGRP "TDC_datapack/clk250_0" TO TIMEGRP
        "TDC_datapack/clk250_90";
PATH "TS_TIG1_path" TIG;
PATH TS_TIG2_path = FROM TIMEGRP "TDC_datapack/clk250_0" TO TIMEGRP
        "TDC_datapack/clk250_180";
PATH "TS_TIG2_path" TIG;
PATH TS_TIG3_path = FROM TIMEGRP "TDC_datapack/clk250_0" TO TIMEGRP
        "TDC_datapack/clk250_270";
PATH "TS_TIG3_path" TIG;
PATH TS_TIG4_path = FROM TIMEGRP "TDC_datapack/clk250_90" TO TIMEGRP
        "TDC_datapack/clk250_0";
PATH "TS_TIG4_path" TIG;
PATH TS_TIG5_path = FROM TIMEGRP "TDC_datapack/clk250_90" TO TIMEGRP
        "TDC_datapack/clk250_180";
PATH "TS_TIG5_path" TIG;
PATH TS_TIG6_path = FROM TIMEGRP "TDC_datapack/clk250_90" TO TIMEGRP
        "TDC_datapack/clk250_270";
PATH "TS_TIG6_path" TIG;
PATH TS_TIG7_path = FROM TIMEGRP "TDC_datapack/clk250_180" TO TIMEGRP
        "TDC_datapack/clk250_0";
PATH "TS_TIG7_path" TIG;
PATH TS_TIG8_path = FROM TIMEGRP "TDC_datapack/clk250_180" TO TIMEGRP
        "TDC_datapack/clk250_90";
PATH "TS_TIG8_path" TIG;
PATH TS_TIG9_path = FROM TIMEGRP "TDC_datapack/clk250_180" TO TIMEGRP
        "TDC_datapack/clk250_270";
PATH "TS_TIG9_path" TIG;
PATH TS_TIG10_path = FROM TIMEGRP "TDC_datapack/clk250_270" TO TIMEGRP
        "TDC_datapack/clk250_0";
PATH "TS_TIG10_path" TIG;
PATH TS_TIG11_path = FROM TIMEGRP "TDC_datapack/clk250_270" TO TIMEGRP
        "TDC_datapack/clk250_90";
PATH "TS_TIG11_path" TIG;
PATH TS_TIG12_path = FROM TIMEGRP "TDC_datapack/clk250_270" TO TIMEGRP
        "TDC_datapack/clk250_180";
PATH "TS_TIG12_path" TIG;
SCHEMATIC END;

