#NET "RESET_IN"  	LOC = T7 | IOSTANDARD = LVCMOS33;
NET "RESET_IN_P"  	LOC = P8 | IOSTANDARD = LVDS_33;
NET "CLK_IN_P"  		LOC = M9 | IOSTANDARD = LVDS_33;
NET "DATA_OUT_P"  	LOC = R11 | IOSTANDARD = LVDS_33 | DRIVE = 16;
#NET "DATA_OUT"  	LOC = T4 | IOSTANDARD = LVCMOS33;
#NET "FB_OUT"  		LOC = T5 | IOSTANDARD = LVCMOS33;
NET "FB_OUT_P"  		LOC = R9 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "FB_OUT_N"  		LOC = T9 | IOSTANDARD = LVCMOS33;
#NET "CLK_10M_EXT"	LOC = A15 | IOSTANDARD = LVCMOS33;

NET "CLK_IN" TNM_NET = "CLKIN";
TIMESPEC TS_CLKIN = PERIOD "CLKIN" 62.5 MHz HIGH 50 %;

#NET "calin" TNM_NET = "calin";
#TIMESPEC TS_CLKIN = PERIOD "calin" 62.5 MHz HIGH 50 %;

#NET "CLK_IN" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "DATA_OUT" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_10M.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_12M5.O" CLOCK_DEDICATED_ROUTE = FALSE;

PIN "TDC_datapack/BUFG_clk62M5.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_62M5_45.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_62M5_90.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_62M5_180.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/BUFG_clk_62M5_270.O" CLOCK_DEDICATED_ROUTE = FALSE;

#PIN "TDC_datapack/PAD[0].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[1].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[2].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[3].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[4].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[5].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[6].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[7].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[8].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "TDC_datapack/PAD[9].BUFG_signal.O" CLOCK_DEDICATED_ROUTE = FALSE;


NET "P1S[1]" LOC = A10 	| IOSTANDARD = LVCMOS12;
NET "P1S[2]" LOC = A9 	| IOSTANDARD = LVCMOS12;
NET "P1S[3]" LOC = A8 	| IOSTANDARD = LVCMOS12;
NET "P1S[4]" LOC = A7 	| IOSTANDARD = LVCMOS12;
NET "P1S[5]" LOC = A6 	| IOSTANDARD = LVCMOS12;
NET "P1S[6]" LOC = A5 	| IOSTANDARD = LVCMOS12;
NET "P1S[7]" LOC = C3 	| IOSTANDARD = LVCMOS12;
NET "P1S[8]" LOC = D3 	| IOSTANDARD = LVCMOS12;

NET "P2S[1]" LOC = A4 	| IOSTANDARD = LVCMOS12;
NET "P2S[2]" LOC = A3 	| IOSTANDARD = LVCMOS12;
NET "P2S[3]" LOC = A2 	| IOSTANDARD = LVCMOS12;
NET "P2S[4]" LOC = B1 	| IOSTANDARD = LVCMOS12;
NET "P2S[5]" LOC = C1 	| IOSTANDARD = LVCMOS12;
NET "P2S[6]" LOC = E3 	| IOSTANDARD = LVCMOS12;
NET "P2S[7]" LOC = F3 	| IOSTANDARD = LVCMOS12;
NET "P2S[8]" LOC = G3 	| IOSTANDARD = LVCMOS12;


NET "P3S[1]" LOC = H3 	| IOSTANDARD = LVCMOS12;
NET "P3S[2]" LOC = J3 	| IOSTANDARD = LVCMOS12;
NET "P3S[3]" LOC = K3 	| IOSTANDARD = LVCMOS12;
NET "P3S[4]" LOC = L3 	| IOSTANDARD = LVCMOS12;
NET "P3S[5]" LOC = D1 	| IOSTANDARD = LVCMOS12;
NET "P3S[6]" LOC = E1 	| IOSTANDARD = LVCMOS12;
NET "P3S[7]" LOC = F1 	| IOSTANDARD = LVCMOS12;
NET "P3S[8]" LOC = G1 	| IOSTANDARD = LVCMOS12;

NET "P4S[1]" LOC = C2 	| IOSTANDARD = LVCMOS12;
NET "P4S[2]" LOC = E2 	| IOSTANDARD = LVCMOS12;
NET "P4S[3]" LOC = F2 	| IOSTANDARD = LVCMOS12;
NET "P4S[4]" LOC = H2 	| IOSTANDARD = LVCMOS12;
NET "P4S[5]" LOC = H1 	| IOSTANDARD = LVCMOS12;
NET "P4S[6]" LOC = J1 	| IOSTANDARD = LVCMOS12;
NET "P4S[7]" LOC = K1 	| IOSTANDARD = LVCMOS12;
NET "P4S[8]" LOC = L1 	| IOSTANDARD = LVCMOS12;

NET "P5S[1]" LOC = K2 	| IOSTANDARD = LVCMOS12;
NET "P5S[2]" LOC = M2 	| IOSTANDARD = LVCMOS12;
NET "P5S[3]" LOC = P2 	| IOSTANDARD = LVCMOS12;
NET "P5S[4]" LOC = R2 	| IOSTANDARD = LVCMOS12;
NET "P5S[5]" LOC = M1 	| IOSTANDARD = LVCMOS12;
NET "P5S[6]" LOC = N1 	| IOSTANDARD = LVCMOS12;
NET "P5S[7]" LOC = P1 	| IOSTANDARD = LVCMOS12;
NET "P5S[8]" LOC = R1 	| IOSTANDARD = LVCMOS12;

NET "P6S[1]" LOC = C16 	| IOSTANDARD = LVCMOS12;
NET "P6S[2]" LOC = B16 	| IOSTANDARD = LVCMOS12;
NET "P6S[3]" LOC = A14 	| IOSTANDARD = LVCMOS12;
NET "P6S[4]" LOC = A13 	| IOSTANDARD = LVCMOS12;
NET "P6S[5]" LOC = B5 	| IOSTANDARD = LVCMOS12;
NET "P6S[6]" LOC = B3 	| IOSTANDARD = LVCMOS12;
NET "P6S[7]" LOC = A12 	| IOSTANDARD = LVCMOS12;
NET "P6S[8]" LOC = A11 	| IOSTANDARD = LVCMOS12;

NET "P7S[1]" LOC = G16 	| IOSTANDARD = LVCMOS12;
NET "P7S[2]" LOC = F16 	| IOSTANDARD = LVCMOS12;
NET "P7S[3]" LOC = E16 	| IOSTANDARD = LVCMOS12;
NET "P7S[4]" LOC = D16 	| IOSTANDARD = LVCMOS12;
NET "P7S[5]" LOC = B12 	| IOSTANDARD = LVCMOS12;
NET "P7S[6]" LOC = B10 	| IOSTANDARD = LVCMOS12;
NET "P7S[7]" LOC = B8 	| IOSTANDARD = LVCMOS12;
NET "P7S[8]" LOC = B6 	| IOSTANDARD = LVCMOS12;

NET "P8S[1]" LOC = L16 	| IOSTANDARD = LVCMOS12;
NET "P8S[2]" LOC = K16 	| IOSTANDARD = LVCMOS12;
NET "P8S[3]" LOC = J16 	| IOSTANDARD = LVCMOS12;
NET "P8S[4]" LOC = H16 	| IOSTANDARD = LVCMOS12;
NET "P8S[5]" LOC = E15 	| IOSTANDARD = LVCMOS12;
NET "P8S[6]" LOC = C15 	| IOSTANDARD = LVCMOS12;
NET "P8S[7]" LOC = B15 	| IOSTANDARD = LVCMOS12;
NET "P8S[8]" LOC = B14 	| IOSTANDARD = LVCMOS12;

NET "P9S[1]" LOC = R16 	| IOSTANDARD = LVCMOS12;
NET "P9S[2]" LOC = P16 	| IOSTANDARD = LVCMOS12;
NET "P9S[3]" LOC = N16 	| IOSTANDARD = LVCMOS12;
NET "P9S[4]" LOC = M16 	| IOSTANDARD = LVCMOS12;
NET "P9S[5]" LOC = M15 	| IOSTANDARD = LVCMOS12;
NET "P9S[6]" LOC = K15 	| IOSTANDARD = LVCMOS12;
NET "P9S[7]" LOC = H15 	| IOSTANDARD = LVCMOS12;
NET "P9S[8]" LOC = F15 	| IOSTANDARD = LVCMOS12;

NET "P10S[1]" LOC = T12 | IOSTANDARD = LVCMOS12;
NET "P10S[2]" LOC = T13	| IOSTANDARD = LVCMOS12;
NET "P10S[3]" LOC = T14 | IOSTANDARD = LVCMOS12;
NET "P10S[4]" LOC = T15 | IOSTANDARD = LVCMOS12;
NET "P10S[5]" LOC = R12 | IOSTANDARD = LVCMOS12;
NET "P10S[6]" LOC = R14	| IOSTANDARD = LVCMOS12;
NET "P10S[7]" LOC = R15	| IOSTANDARD = LVCMOS12;
NET "P10S[8]" LOC = P15	| IOSTANDARD = LVCMOS12;

#NET "TEST1[1]" LOC = C11	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[2]" LOC = C10	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[3]" LOC = C9 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[4]" LOC = C8 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[5]" LOC = C7 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[6]" LOC = C6 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[7]" LOC = C5 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[8]" LOC = C4 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST1[9]" LOC = E4 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST2" LOC = B2 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
#NET "TEST2" PULLDOWN;


NET "calin" LOC = C10 	| IOSTANDARD = LVCMOS12;
NET "calin" PULLDOWN;

NET "calout" LOC = C9 	| IOSTANDARD = LVCMOS12 | DRIVE = 6;
NET "calout" PULLDOWN;

########################################################			

#NET "TDC_datapack/clk_62M5" TNM_NET = TDC_datapack/clk_62M5;
#TIMESPEC TS_TDC_datapack_clk_62M5 = PERIOD "TDC_datapack/clk_62M5" 8 ns HIGH 50%;

NET "TDC_datapack/clk250_0" TNM_NET = TDC_datapack/clk250_0;
TIMESPEC TS_TDC_datapack_clk250_0 = PERIOD "TDC_datapack/clk250_0" 4 ns HIGH 50%;
NET "TDC_datapack/clk250_90" TNM_NET = TDC_datapack/clk250_90;
TIMESPEC TS_TDC_datapack_clk250_90 = PERIOD "TDC_datapack/clk250_90" 4 ns HIGH 50%;
NET "TDC_datapack/clk250_180" TNM_NET = TDC_datapack/clk250_180;
TIMESPEC TS_TDC_datapack_clk250_180 = PERIOD "TDC_datapack/clk250_180" 4 ns HIGH 50%;
NET "TDC_datapack/clk250_270" TNM_NET = TDC_datapack/clk250_270;
TIMESPEC TS_TDC_datapack_clk250_270 = PERIOD "TDC_datapack/clk250_270" 4 ns HIGH 50%;

TIMESPEC TS_TIG1 = FROM "TDC_datapack/clk250_0" TO "TDC_datapack/clk250_90" TIG;
TIMESPEC TS_TIG2 = FROM "TDC_datapack/clk250_0" TO "TDC_datapack/clk250_180" TIG;
TIMESPEC TS_TIG3 = FROM "TDC_datapack/clk250_0" TO "TDC_datapack/clk250_270" TIG;

TIMESPEC TS_TIG4 = FROM "TDC_datapack/clk250_90" TO "TDC_datapack/clk250_0" TIG;
TIMESPEC TS_TIG5 = FROM "TDC_datapack/clk250_90" TO "TDC_datapack/clk250_180" TIG;
TIMESPEC TS_TIG6 = FROM "TDC_datapack/clk250_90" TO "TDC_datapack/clk250_270" TIG;

TIMESPEC TS_TIG7 = FROM "TDC_datapack/clk250_180" TO "TDC_datapack/clk250_0" TIG;
TIMESPEC TS_TIG8 = FROM "TDC_datapack/clk250_180" TO "TDC_datapack/clk250_90" TIG;
TIMESPEC TS_TIG9 = FROM "TDC_datapack/clk250_180" TO "TDC_datapack/clk250_270" TIG;

TIMESPEC TS_TIG10 = FROM "TDC_datapack/clk250_270" TO "TDC_datapack/clk250_0" TIG;
TIMESPEC TS_TIG11 = FROM "TDC_datapack/clk250_270" TO "TDC_datapack/clk250_90" TIG;
TIMESPEC TS_TIG12 = FROM "TDC_datapack/clk250_270" TO "TDC_datapack/clk250_180" TIG;

TIMESPEC TS_TIG13 = FROM "TDC_datapack/clk_62M5" TO "TDC_datapack/clk250_0" TIG;
TIMESPEC TS_TIG14 = FROM "TDC_datapack/clk_62M5" TO "TDC_datapack/clk250_90" TIG;
TIMESPEC TS_TIG15 = FROM "TDC_datapack/clk_62M5" TO "TDC_datapack/clk250_180" TIG;
TIMESPEC TS_TIG16 = FROM "TDC_datapack/clk_62M5" TO "TDC_datapack/clk250_270" TIG;
TIMESPEC TS_TIG17 = FROM "TDC_datapack/clk250_0" TO "TDC_datapack/clk_62M5" TIG;
TIMESPEC TS_TIG18 = FROM "TDC_datapack/clk250_90" TO "TDC_datapack/clk_62M5" TIG;
TIMESPEC TS_TIG19 = FROM "TDC_datapack/clk250_180" TO "TDC_datapack/clk_62M5" TIG;
TIMESPEC TS_TIG20 = FROM "TDC_datapack/clk250_270" TO "TDC_datapack/clk_62M5" TIG;


TIMESPEC TS_TIG21 = FROM "CLKIN" TO "TDC_datapack/clk250_0" TIG;
TIMESPEC TS_TIG22 = FROM "CLKIN" TO "TDC_datapack/clk250_90" TIG;
TIMESPEC TS_TIG23 = FROM "CLKIN" TO "TDC_datapack/clk250_180" TIG;
TIMESPEC TS_TIG24 = FROM "CLKIN" TO "TDC_datapack/clk250_270" TIG;
TIMESPEC TS_TIG25 = FROM "TDC_datapack/clk250_0" TO "CLKIN" TIG;
TIMESPEC TS_TIG26 = FROM "TDC_datapack/clk250_90" TO "CLKIN" TIG;
TIMESPEC TS_TIG27 = FROM "TDC_datapack/clk250_180" TO "CLKIN" TIG;
TIMESPEC TS_TIG28 = FROM "TDC_datapack/clk250_270" TO "CLKIN" TIG;

########################################################			
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y57;

INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y58;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y58;				
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y57;
			
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y58;			
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y57;	
		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y58;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y58;		
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y58;			
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y57;
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y57;	
INST "TDC_datapack/PAD[0].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y57;	
########################################################		
	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y52;

INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y53;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y53;				
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y52;
			
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y53;			
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y52;	
		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y53;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y53;		
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y53;			
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y52;
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y52;	
INST "TDC_datapack/PAD[1].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y52;

########################################################		
	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y45;

INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y46;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y46;				
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y45;
			
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y46;			
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y45;	
		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y46;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y46;		
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y46;			
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y45;
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y45;	
INST "TDC_datapack/PAD[2].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y45;

########################################################		
	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y37;

INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y38;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y38;				
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y37;
			
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y38;			
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y37;	
		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y38;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y38;		
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y38;			
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y37;
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y37;	
INST "TDC_datapack/PAD[3].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y37;

########################################################		
	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y33;

INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y34;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y34;				
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y33;
			
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y34;			
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y33;	
		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y34;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y34;		
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y34;			
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y33;
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y33;	
INST "TDC_datapack/PAD[4].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y33;

########################################################		
	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y27;

INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y28;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y28;				
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y27;
			
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y28;			
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y27;	
		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y28;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y28;		
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y28;			
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y27;
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y27;	
INST "TDC_datapack/PAD[5].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y27;

#######################################################		
	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y21;

INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y22;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y22;				
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y21;
			
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y22;			
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y21;	
		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y22;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y22;		
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y22;			
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y21;
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y21;	
INST "TDC_datapack/PAD[6].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y21;

########################################################		
	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y14;

INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y15;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y15;				
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y14;
			
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y15;			
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y14;	
		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y15;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y15;		
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y15;			
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y14;
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y14;	
INST "TDC_datapack/PAD[7].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y14;

########################################################		
	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y9;

INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y10;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y10;				
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y9;
			
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y10;			
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y9;	
		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y10;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y10;		
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y10;			
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y9;
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y9;	
INST "TDC_datapack/PAD[8].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y9;

########################################################		
	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin0" 		LOC = SLICE_X1Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin0" 		LOC = SLICE_X3Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin0" 		LOC = SLICE_X5Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin0" 		LOC = SLICE_X7Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin0" 		LOC = SLICE_X9Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline0" 	LOC = SLICE_X11Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline0" 	LOC = SLICE_X13Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline0" 	LOC = SLICE_X15Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline0" 	LOC = SLICE_X17Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline0" 	LOC = SLICE_X19Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Data0" 		LOC = SLICE_X11Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Data0"         LOC = SLICE_X13Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Data0" 		LOC = SLICE_X15Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Data0"         LOC = SLICE_X17Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Data0" 		LOC = SLICE_X19Y4;

INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin90" 		LOC = SLICE_X0Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin90" 		LOC = SLICE_X2Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin90" 		LOC = SLICE_X4Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin90" 		LOC = SLICE_X6Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin90" 		LOC = SLICE_X8Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline90" 	LOC = SLICE_X11Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline90" 	LOC = SLICE_X13Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline90" 	LOC = SLICE_X15Y5;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline90" 	LOC = SLICE_X17Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline90" 	LOC = SLICE_X19Y5;				
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Data90" 		LOC = SLICE_X11Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Data90" 		LOC = SLICE_X13Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Data90" 		LOC = SLICE_X15Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Data90" 		LOC = SLICE_X17Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Data90" 		LOC = SLICE_X19Y4;
			
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin180" 		LOC = SLICE_X1Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin180" 		LOC = SLICE_X3Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin180" 		LOC = SLICE_X5Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin180" 		LOC = SLICE_X7Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin180" 		LOC = SLICE_X9Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline180" 	LOC = SLICE_X10Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline180" 	LOC = SLICE_X12Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline180" 	LOC = SLICE_X14Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline180" 	LOC = SLICE_X16Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline180" 	LOC = SLICE_X18Y5;			
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Data180" 		LOC = SLICE_X10Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Data180" 		LOC = SLICE_X12Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Data180" 		LOC = SLICE_X14Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Data180" 		LOC = SLICE_X16Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Data180" 		LOC = SLICE_X18Y4;	
		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Hitin270" 		LOC = SLICE_X0Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Hitin270" 		LOC = SLICE_X2Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Hitin270" 		LOC = SLICE_X4Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Hitin270" 		LOC = SLICE_X6Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Hitin270" 		LOC = SLICE_X8Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Pipeline270" 	LOC = SLICE_X10Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Pipeline270" 	LOC = SLICE_X12Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Pipeline270" 	LOC = SLICE_X14Y5;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Pipeline270" 	LOC = SLICE_X16Y5;		
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Pipeline270" 	LOC = SLICE_X18Y5;			
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[0].Data270" 		LOC = SLICE_X10Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[1].Data270" 		LOC = SLICE_X12Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[2].Data270" 		LOC = SLICE_X14Y4;
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[3].Data270" 		LOC = SLICE_X16Y4;	
INST "TDC_datapack/PAD[9].PTDC/PILELINE_STAGE[4].Data270" 		LOC = SLICE_X18Y4;


########################################################		

# INST "TDC_datapack/PAD[8].PTDC/Hitin0_0" 		LOC = SLICE_X13Y18;
# INST "TDC_datapack/PAD[8].PTDC/Hitin0_1" 		LOC = SLICE_X15Y18;
# INST "TDC_datapack/PAD[8].PTDC/Hitin0_2" 		LOC = SLICE_X17Y18;
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_0" 	LOC = SLICE_X19Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_1" 	LOC = SLICE_X21Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_2" 	LOC = SLICE_X23Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Data0_0" 		LOC = SLICE_X19Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data0_1"         LOC = SLICE_X21Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data0_2" 		LOC = SLICE_X23Y17;
			
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_0" 		LOC = SLICE_X12Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_1" 		LOC = SLICE_X14Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_2" 		LOC = SLICE_X16Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_0" 	LOC = SLICE_X19Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_1" 	LOC = SLICE_X21Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_2" 	LOC = SLICE_X23Y18;				
# INST "TDC_datapack/PAD[8].PTDC/Data90_0" 		LOC = SLICE_X19Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data90_1" 		LOC = SLICE_X21Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data90_2" 		LOC = SLICE_X23Y17;
			
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_0" 		LOC = SLICE_X13Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_1" 		LOC = SLICE_X15Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_2" 		LOC = SLICE_X17Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_0" 	LOC = SLICE_X18Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_1" 	LOC = SLICE_X20Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_2" 	LOC = SLICE_X22Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Data180_0" 		LOC = SLICE_X18Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data180_1" 		LOC = SLICE_X20Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data180_2" 		LOC = SLICE_X22Y17;	

# INST "TDC_datapack/PAD[8].PTDC/Hitin270_0" 		LOC = SLICE_X12Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin270_1" 		LOC = SLICE_X14Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin270_2" 		LOC = SLICE_X16Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_0" 	LOC = SLICE_X18Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_1" 	LOC = SLICE_X20Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_2" 	LOC = SLICE_X22Y18;			
# INST "TDC_datapack/PAD[8].PTDC/Data270_0" 		LOC = SLICE_X18Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data270_1" 		LOC = SLICE_X20Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data270_2" 		LOC = SLICE_X22Y17;	

# INST "TDC_datapack/PAD[1].PTDC/Hitin0_0" 		LOC = SLICE_X1Y53;
# INST "TDC_datapack/PAD[1].PTDC/Hitin0_1" 		LOC = SLICE_X3Y53;
# INST "TDC_datapack/PAD[1].PTDC/Hitin0_2" 		LOC = SLICE_X5Y53;
# INST "TDC_datapack/PAD[1].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Data0_0" 		LOC = SLICE_X7Y52;
# INST "TDC_datapack/PAD[1].PTDC/Data0_1"         LOC = SLICE_X9Y52;
# INST "TDC_datapack/PAD[1].PTDC/Data0_2" 		LOC = SLICE_X11Y52;
			
# INST "TDC_datapack/PAD[1].PTDC/Hitin90_0" 		LOC = SLICE_X0Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin90_1" 		LOC = SLICE_X2Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin90_2" 		LOC = SLICE_X4Y53;	
# INST "TDC_datapack/PAD[1].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y53;				
# INST "TDC_datapack/PAD[1].PTDC/Data90_0" 		LOC = SLICE_X7Y52;
# INST "TDC_datapack/PAD[1].PTDC/Data90_1" 		LOC = SLICE_X9Y52;
# INST "TDC_datapack/PAD[1].PTDC/Data90_2" 		LOC = SLICE_X11Y52;
			
# INST "TDC_datapack/PAD[1].PTDC/Hitin180_0" 		LOC = SLICE_X1Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin180_1" 		LOC = SLICE_X3Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin180_2" 		LOC = SLICE_X5Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Data180_0" 		LOC = SLICE_X6Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Data180_1" 		LOC = SLICE_X8Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Data180_2" 		LOC = SLICE_X10Y52;	

			
# INST "TDC_datapack/PAD[1].PTDC/Hitin270_0" 		LOC = SLICE_X0Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin270_1" 		LOC = SLICE_X2Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Hitin270_2" 		LOC = SLICE_X4Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y53;		
# INST "TDC_datapack/PAD[1].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y53;			
# INST "TDC_datapack/PAD[1].PTDC/Data270_0" 		LOC = SLICE_X6Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Data270_1" 		LOC = SLICE_X8Y52;	
# INST "TDC_datapack/PAD[1].PTDC/Data270_2" 		LOC = SLICE_X10Y52;	

# ########################################################		

# INST "TDC_datapack/PAD[2].PTDC/Hitin0_0" 		LOC = SLICE_X1Y46;
# INST "TDC_datapack/PAD[2].PTDC/Hitin0_1" 		LOC = SLICE_X3Y46;
# INST "TDC_datapack/PAD[2].PTDC/Hitin0_2" 		LOC = SLICE_X5Y46;
# INST "TDC_datapack/PAD[2].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Data0_0" 		LOC = SLICE_X7Y45;
# INST "TDC_datapack/PAD[2].PTDC/Data0_1"         LOC = SLICE_X9Y45;
# INST "TDC_datapack/PAD[2].PTDC/Data0_2" 		LOC = SLICE_X11Y45;
			
# INST "TDC_datapack/PAD[2].PTDC/Hitin90_0" 		LOC = SLICE_X0Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin90_1" 		LOC = SLICE_X2Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin90_2" 		LOC = SLICE_X4Y46;	
# INST "TDC_datapack/PAD[2].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y46;				
# INST "TDC_datapack/PAD[2].PTDC/Data90_0" 		LOC = SLICE_X7Y45;
# INST "TDC_datapack/PAD[2].PTDC/Data90_1" 		LOC = SLICE_X9Y45;
# INST "TDC_datapack/PAD[2].PTDC/Data90_2" 		LOC = SLICE_X11Y45;
			
# INST "TDC_datapack/PAD[2].PTDC/Hitin180_0" 		LOC = SLICE_X1Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin180_1" 		LOC = SLICE_X3Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin180_2" 		LOC = SLICE_X5Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Data180_0" 		LOC = SLICE_X6Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Data180_1" 		LOC = SLICE_X8Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Data180_2" 		LOC = SLICE_X10Y45;	

# INST "TDC_datapack/PAD[2].PTDC/Hitin270_0" 		LOC = SLICE_X0Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin270_1" 		LOC = SLICE_X2Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Hitin270_2" 		LOC = SLICE_X4Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y46;		
# INST "TDC_datapack/PAD[2].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y46;			
# INST "TDC_datapack/PAD[2].PTDC/Data270_0" 		LOC = SLICE_X6Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Data270_1" 		LOC = SLICE_X8Y45;	
# INST "TDC_datapack/PAD[2].PTDC/Data270_2" 		LOC = SLICE_X10Y45;	


# ########################################################		

# INST "TDC_datapack/PAD[3].PTDC/Hitin0_0" 		LOC = SLICE_X1Y38;
# INST "TDC_datapack/PAD[3].PTDC/Hitin0_1" 		LOC = SLICE_X3Y38;
# INST "TDC_datapack/PAD[3].PTDC/Hitin0_2" 		LOC = SLICE_X5Y38;
# INST "TDC_datapack/PAD[3].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Data0_0" 		LOC = SLICE_X7Y37;
# INST "TDC_datapack/PAD[3].PTDC/Data0_1"         LOC = SLICE_X9Y37;
# INST "TDC_datapack/PAD[3].PTDC/Data0_2" 		LOC = SLICE_X11Y37;
			
# INST "TDC_datapack/PAD[3].PTDC/Hitin90_0" 		LOC = SLICE_X0Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin90_1" 		LOC = SLICE_X2Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin90_2" 		LOC = SLICE_X4Y38;	
# INST "TDC_datapack/PAD[3].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y38;				
# INST "TDC_datapack/PAD[3].PTDC/Data90_0" 		LOC = SLICE_X7Y37;
# INST "TDC_datapack/PAD[3].PTDC/Data90_1" 		LOC = SLICE_X9Y37;
# INST "TDC_datapack/PAD[3].PTDC/Data90_2" 		LOC = SLICE_X11Y37;
			
# INST "TDC_datapack/PAD[3].PTDC/Hitin180_0" 		LOC = SLICE_X1Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin180_1" 		LOC = SLICE_X3Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin180_2" 		LOC = SLICE_X5Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Data180_0" 		LOC = SLICE_X6Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Data180_1" 		LOC = SLICE_X8Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Data180_2" 		LOC = SLICE_X10Y37;	

# INST "TDC_datapack/PAD[3].PTDC/Hitin270_0" 		LOC = SLICE_X0Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin270_1" 		LOC = SLICE_X2Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Hitin270_2" 		LOC = SLICE_X4Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y38;		
# INST "TDC_datapack/PAD[3].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y38;			
# INST "TDC_datapack/PAD[3].PTDC/Data270_0" 		LOC = SLICE_X6Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Data270_1" 		LOC = SLICE_X8Y37;	
# INST "TDC_datapack/PAD[3].PTDC/Data270_2" 		LOC = SLICE_X10Y37;	

# ########################################################		

# INST "TDC_datapack/PAD[4].PTDC/Hitin0_0" 		LOC = SLICE_X1Y28;
# INST "TDC_datapack/PAD[4].PTDC/Hitin0_1" 		LOC = SLICE_X3Y28;
# INST "TDC_datapack/PAD[4].PTDC/Hitin0_2" 		LOC = SLICE_X5Y28;
# INST "TDC_datapack/PAD[4].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Data0_0" 		LOC = SLICE_X7Y27;
# INST "TDC_datapack/PAD[4].PTDC/Data0_1"         LOC = SLICE_X9Y27;
# INST "TDC_datapack/PAD[4].PTDC/Data0_2" 		LOC = SLICE_X11Y27;
			
# INST "TDC_datapack/PAD[4].PTDC/Hitin90_0" 		LOC = SLICE_X0Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin90_1" 		LOC = SLICE_X2Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin90_2" 		LOC = SLICE_X4Y28;	
# INST "TDC_datapack/PAD[4].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y28;				
# INST "TDC_datapack/PAD[4].PTDC/Data90_0" 		LOC = SLICE_X7Y27;
# INST "TDC_datapack/PAD[4].PTDC/Data90_1" 		LOC = SLICE_X9Y27;
# INST "TDC_datapack/PAD[4].PTDC/Data90_2" 		LOC = SLICE_X11Y27;
			
# INST "TDC_datapack/PAD[4].PTDC/Hitin180_0" 		LOC = SLICE_X1Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin180_1" 		LOC = SLICE_X3Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin180_2" 		LOC = SLICE_X5Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Data180_0" 		LOC = SLICE_X6Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Data180_1" 		LOC = SLICE_X8Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Data180_2" 		LOC = SLICE_X10Y27;	

# INST "TDC_datapack/PAD[4].PTDC/Hitin270_0" 		LOC = SLICE_X0Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin270_1" 		LOC = SLICE_X2Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Hitin270_2" 		LOC = SLICE_X4Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y28;		
# INST "TDC_datapack/PAD[4].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y28;			
# INST "TDC_datapack/PAD[4].PTDC/Data270_0" 		LOC = SLICE_X6Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Data270_1" 		LOC = SLICE_X8Y27;	
# INST "TDC_datapack/PAD[4].PTDC/Data270_2" 		LOC = SLICE_X10Y27;	

# ########################################################		

# INST "TDC_datapack/PAD[5].PTDC/Hitin0_0" 		LOC = SLICE_X1Y22;
# INST "TDC_datapack/PAD[5].PTDC/Hitin0_1" 		LOC = SLICE_X3Y22;
# INST "TDC_datapack/PAD[5].PTDC/Hitin0_2" 		LOC = SLICE_X5Y22;
# INST "TDC_datapack/PAD[5].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Data0_0" 		LOC = SLICE_X7Y21;
# INST "TDC_datapack/PAD[5].PTDC/Data0_1"         LOC = SLICE_X9Y21;
# INST "TDC_datapack/PAD[5].PTDC/Data0_2" 		LOC = SLICE_X11Y21;
			
# INST "TDC_datapack/PAD[5].PTDC/Hitin90_0" 		LOC = SLICE_X0Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin90_1" 		LOC = SLICE_X2Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin90_2" 		LOC = SLICE_X4Y22;	
# INST "TDC_datapack/PAD[5].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y22;				
# INST "TDC_datapack/PAD[5].PTDC/Data90_0" 		LOC = SLICE_X7Y21;
# INST "TDC_datapack/PAD[5].PTDC/Data90_1" 		LOC = SLICE_X9Y21;
# INST "TDC_datapack/PAD[5].PTDC/Data90_2" 		LOC = SLICE_X11Y21;
			
# INST "TDC_datapack/PAD[5].PTDC/Hitin180_0" 		LOC = SLICE_X1Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin180_1" 		LOC = SLICE_X3Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin180_2" 		LOC = SLICE_X5Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Data180_0" 		LOC = SLICE_X6Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Data180_1" 		LOC = SLICE_X8Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Data180_2" 		LOC = SLICE_X10Y21;	

# INST "TDC_datapack/PAD[5].PTDC/Hitin270_0" 		LOC = SLICE_X0Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin270_1" 		LOC = SLICE_X2Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Hitin270_2" 		LOC = SLICE_X4Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y22;		
# INST "TDC_datapack/PAD[5].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y22;			
# INST "TDC_datapack/PAD[5].PTDC/Data270_0" 		LOC = SLICE_X6Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Data270_1" 		LOC = SLICE_X8Y21;	
# INST "TDC_datapack/PAD[5].PTDC/Data270_2" 		LOC = SLICE_X10Y21;	




# ########################################################		

# INST "TDC_datapack/PAD[6].PTDC/Hitin0_0" 		LOC = SLICE_X1Y10;
# INST "TDC_datapack/PAD[6].PTDC/Hitin0_1" 		LOC = SLICE_X3Y10;
# INST "TDC_datapack/PAD[6].PTDC/Hitin0_2" 		LOC = SLICE_X5Y10;
# INST "TDC_datapack/PAD[6].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Data0_0" 		LOC = SLICE_X7Y9;
# INST "TDC_datapack/PAD[6].PTDC/Data0_1"         LOC = SLICE_X9Y9;
# INST "TDC_datapack/PAD[6].PTDC/Data0_2" 		LOC = SLICE_X11Y9;
			
# INST "TDC_datapack/PAD[6].PTDC/Hitin90_0" 		LOC = SLICE_X0Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin90_1" 		LOC = SLICE_X2Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin90_2" 		LOC = SLICE_X4Y10;	
# INST "TDC_datapack/PAD[6].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y10;				
# INST "TDC_datapack/PAD[6].PTDC/Data90_0" 		LOC = SLICE_X7Y9;
# INST "TDC_datapack/PAD[6].PTDC/Data90_1" 		LOC = SLICE_X9Y9;
# INST "TDC_datapack/PAD[6].PTDC/Data90_2" 		LOC = SLICE_X11Y9;
			
# INST "TDC_datapack/PAD[6].PTDC/Hitin180_0" 		LOC = SLICE_X1Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin180_1" 		LOC = SLICE_X3Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin180_2" 		LOC = SLICE_X5Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Data180_0" 		LOC = SLICE_X6Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Data180_1" 		LOC = SLICE_X8Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Data180_2" 		LOC = SLICE_X10Y9;	

# INST "TDC_datapack/PAD[6].PTDC/Hitin270_0" 		LOC = SLICE_X0Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin270_1" 		LOC = SLICE_X2Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Hitin270_2" 		LOC = SLICE_X4Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y10;		
# INST "TDC_datapack/PAD[6].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y10;			
# INST "TDC_datapack/PAD[6].PTDC/Data270_0" 		LOC = SLICE_X6Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Data270_1" 		LOC = SLICE_X8Y9;	
# INST "TDC_datapack/PAD[6].PTDC/Data270_2" 		LOC = SLICE_X10Y9;	





# ########################################################		

# INST "TDC_datapack/PAD[7].PTDC/Hitin0_0" 		LOC = SLICE_X1Y5;
# INST "TDC_datapack/PAD[7].PTDC/Hitin0_1" 		LOC = SLICE_X3Y5;
# INST "TDC_datapack/PAD[7].PTDC/Hitin0_2" 		LOC = SLICE_X5Y5;
# INST "TDC_datapack/PAD[7].PTDC/Pipeline0_0" 	LOC = SLICE_X7Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Pipeline0_1" 	LOC = SLICE_X9Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Pipeline0_2" 	LOC = SLICE_X11Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Data0_0" 		LOC = SLICE_X7Y4;
# INST "TDC_datapack/PAD[7].PTDC/Data0_1"         LOC = SLICE_X9Y4;
# INST "TDC_datapack/PAD[7].PTDC/Data0_2" 		LOC = SLICE_X11Y4;
			
# INST "TDC_datapack/PAD[7].PTDC/Hitin90_0" 		LOC = SLICE_X0Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin90_1" 		LOC = SLICE_X2Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin90_2" 		LOC = SLICE_X4Y5;	
# INST "TDC_datapack/PAD[7].PTDC/Pipeline90_0" 	LOC = SLICE_X7Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline90_1" 	LOC = SLICE_X9Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline90_2" 	LOC = SLICE_X11Y5;				
# INST "TDC_datapack/PAD[7].PTDC/Data90_0" 		LOC = SLICE_X7Y4;
# INST "TDC_datapack/PAD[7].PTDC/Data90_1" 		LOC = SLICE_X9Y4;
# INST "TDC_datapack/PAD[7].PTDC/Data90_2" 		LOC = SLICE_X11Y4;
			
# INST "TDC_datapack/PAD[7].PTDC/Hitin180_0" 		LOC = SLICE_X1Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin180_1" 		LOC = SLICE_X3Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin180_2" 		LOC = SLICE_X5Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Pipeline180_0" 	LOC = SLICE_X6Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline180_1" 	LOC = SLICE_X8Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline180_2" 	LOC = SLICE_X10Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Data180_0" 		LOC = SLICE_X6Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Data180_1" 		LOC = SLICE_X8Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Data180_2" 		LOC = SLICE_X10Y4;	

# INST "TDC_datapack/PAD[7].PTDC/Hitin270_0" 		LOC = SLICE_X0Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin270_1" 		LOC = SLICE_X2Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Hitin270_2" 		LOC = SLICE_X4Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Pipeline270_0" 	LOC = SLICE_X6Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline270_1" 	LOC = SLICE_X8Y5;		
# INST "TDC_datapack/PAD[7].PTDC/Pipeline270_2" 	LOC = SLICE_X10Y5;			
# INST "TDC_datapack/PAD[7].PTDC/Data270_0" 		LOC = SLICE_X6Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Data270_1" 		LOC = SLICE_X8Y4;	
# INST "TDC_datapack/PAD[7].PTDC/Data270_2" 		LOC = SLICE_X10Y4;	


# ########################################################		

# INST "TDC_datapack/PAD[8].PTDC/Hitin0_0" 		LOC = SLICE_X13Y18;
# INST "TDC_datapack/PAD[8].PTDC/Hitin0_1" 		LOC = SLICE_X15Y18;
# INST "TDC_datapack/PAD[8].PTDC/Hitin0_2" 		LOC = SLICE_X17Y18;
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_0" 	LOC = SLICE_X19Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_1" 	LOC = SLICE_X21Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline0_2" 	LOC = SLICE_X23Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Data0_0" 		LOC = SLICE_X19Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data0_1"         LOC = SLICE_X21Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data0_2" 		LOC = SLICE_X23Y17;
			
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_0" 		LOC = SLICE_X12Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_1" 		LOC = SLICE_X14Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin90_2" 		LOC = SLICE_X16Y18;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_0" 	LOC = SLICE_X19Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_1" 	LOC = SLICE_X21Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline90_2" 	LOC = SLICE_X23Y18;				
# INST "TDC_datapack/PAD[8].PTDC/Data90_0" 		LOC = SLICE_X19Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data90_1" 		LOC = SLICE_X21Y17;
# INST "TDC_datapack/PAD[8].PTDC/Data90_2" 		LOC = SLICE_X23Y17;
			
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_0" 		LOC = SLICE_X13Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_1" 		LOC = SLICE_X15Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin180_2" 		LOC = SLICE_X17Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_0" 	LOC = SLICE_X18Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_1" 	LOC = SLICE_X20Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline180_2" 	LOC = SLICE_X22Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Data180_0" 		LOC = SLICE_X18Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data180_1" 		LOC = SLICE_X20Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data180_2" 		LOC = SLICE_X22Y17;	

# INST "TDC_datapack/PAD[8].PTDC/Hitin270_0" 		LOC = SLICE_X12Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin270_1" 		LOC = SLICE_X14Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Hitin270_2" 		LOC = SLICE_X16Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_0" 	LOC = SLICE_X18Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_1" 	LOC = SLICE_X20Y18;		
# INST "TDC_datapack/PAD[8].PTDC/Pipeline270_2" 	LOC = SLICE_X22Y18;			
# INST "TDC_datapack/PAD[8].PTDC/Data270_0" 		LOC = SLICE_X18Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data270_1" 		LOC = SLICE_X20Y17;	
# INST "TDC_datapack/PAD[8].PTDC/Data270_2" 		LOC = SLICE_X22Y17;	

# ########################################################		

# INST "TDC_datapack/PAD[9].PTDC/Hitin0_0" 		LOC = SLICE_X13Y43;
# INST "TDC_datapack/PAD[9].PTDC/Hitin0_1" 		LOC = SLICE_X15Y43;
# INST "TDC_datapack/PAD[9].PTDC/Hitin0_2" 		LOC = SLICE_X17Y43;
# INST "TDC_datapack/PAD[9].PTDC/Pipeline0_0" 	LOC = SLICE_X19Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Pipeline0_1" 	LOC = SLICE_X21Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Pipeline0_2" 	LOC = SLICE_X23Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Data0_0" 		LOC = SLICE_X19Y42;
# INST "TDC_datapack/PAD[9].PTDC/Data0_1"         LOC = SLICE_X21Y42;
# INST "TDC_datapack/PAD[9].PTDC/Data0_2" 		LOC = SLICE_X23Y42;
			
# INST "TDC_datapack/PAD[9].PTDC/Hitin90_0" 		LOC = SLICE_X12Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin90_1" 		LOC = SLICE_X14Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin90_2" 		LOC = SLICE_X16Y43;	
# INST "TDC_datapack/PAD[9].PTDC/Pipeline90_0" 	LOC = SLICE_X19Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline90_1" 	LOC = SLICE_X21Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline90_2" 	LOC = SLICE_X23Y43;				
# INST "TDC_datapack/PAD[9].PTDC/Data90_0" 		LOC = SLICE_X19Y42;
# INST "TDC_datapack/PAD[9].PTDC/Data90_1" 		LOC = SLICE_X21Y42;
# INST "TDC_datapack/PAD[9].PTDC/Data90_2" 		LOC = SLICE_X23Y42;
			
# INST "TDC_datapack/PAD[9].PTDC/Hitin180_0" 		LOC = SLICE_X13Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin180_1" 		LOC = SLICE_X15Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin180_2" 		LOC = SLICE_X17Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Pipeline180_0" 	LOC = SLICE_X18Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline180_1" 	LOC = SLICE_X20Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline180_2" 	LOC = SLICE_X22Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Data180_0" 		LOC = SLICE_X18Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Data180_1" 		LOC = SLICE_X20Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Data180_2" 		LOC = SLICE_X22Y42;	

# INST "TDC_datapack/PAD[9].PTDC/Hitin270_0" 		LOC = SLICE_X12Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin270_1" 		LOC = SLICE_X14Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Hitin270_2" 		LOC = SLICE_X16Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Pipeline270_0" 	LOC = SLICE_X18Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline270_1" 	LOC = SLICE_X20Y43;		
# INST "TDC_datapack/PAD[9].PTDC/Pipeline270_2" 	LOC = SLICE_X22Y43;			
# INST "TDC_datapack/PAD[9].PTDC/Data270_0" 		LOC = SLICE_X18Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Data270_1" 		LOC = SLICE_X20Y42;	
# INST "TDC_datapack/PAD[9].PTDC/Data270_2" 		LOC = SLICE_X22Y42;	
